{% extends 'core/base.html' %}

{% block title1 %}
    Nuevo Pago
{% endblock title1 %}
{% block title2 %}
    Pago
{% endblock title2 %}
    
{% block content %}

<div class="container">
    <div class="row">
        <form method="POST" id="form-user">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="first_name" class="form-control" value="{{profile_obj.first_name}}" placeholder="Ingrese el Nombre" id="first_name" maxlength="200" required >
            </div>
            <div class="form-group">
                <label for="">Apellido:</label>
                <input type="text" name="last_name" class="form-control" value="{{profile_obj.last_name}}" placeholder="Ingrese el apellido" id="last_name" maxlength="220" required >
            </div>
            <div class="form-group">
                <label for="">Tipo:</label>
                {{form.type}}
            </div>
            
            {% if profile_obj %}
            <div class="form-group">
                {{form.active}}
                <label class="form-check-label" for="active">Activado</label>
            </div>
            <button class="btn btn-primary" id="check-submit" type="submit" >Modificar Usuario</button>
            {% else %}
            <div class="form-group">
                <label for="">Correo Electronico:</label>
                <input type="email" name="email" class="form-control" placeholder="Ingrese el correo" id="email" maxlength="220" required >
            </div>
            <div class="form-group">
                <label for="">Contraseña:</label>
                <input type="password" name="password1" class="form-control" id="password1" maxlength="220" required >
            </div>
            <div class="form-group">
                <label for="">Repetir Contraseña:</label>
                <input type="password" name="password2" class="form-control" id="password2" maxlength="220" required >
            </div>

            <p  style="color:red;" >{{error_message}}</p>
            <button class="btn btn-primary" id="check-submit" onclick="checkUser();">Crear Usuario</button>
            {% endif %}
            
          </form>
        
    </div>
</div>

{% endblock content %}


{% block extra_script %}
   
{% endblock extra_script %}
    
