{% extends 'core/index.html' %}
{% load static %}
{% load productos_extras %}
{% load humanize %}
{% load cart_extras %}
{% load profiles_extras %}
{% load thumbnail %}
{% block title %}Pago Éxitoso{% endblock title %}
{% block content %}

<section class="page-title-area bg-img" data-bg-img="">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12">
		  <div class="page-title-content">
			</div>
		</div>
	  </div>
	</div>
  </section>
   
<center><h1>Pago Éxitoso</h1></center>
<br><br>
  <div class="d-flex justify-content-center">
  <div class="col-md-6">
      <div class="row">
          <p>Ya estamos trabajando en su pedido, te enviaremos un correo con cada proceso realizado</p>
      </div>
  </div>
  </div><br><br>


{% endblock content %}