{% extends 'core/base.html' %}

{% block title1 %}
    Lista de Pagos
{% endblock title1 %}
{% block title2 %}
Lista de Pagos
{% endblock title2 %}
    
{% block content %}

<div class="col-12">
  <div class="card shadow">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Cuotas</h6>
        <div class="dropdown no-arrow">
  
        </div>
      </div>
      <!-- Card Body -->
    <div class="card-body">
      <div class="row">
      <span>   </span>
      <a href="{% url 'fee_create' %}" class="btn btn-info btn-icon-split">
        <span id="create_payment" class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span style="color:white" class="text">Crear Cuotas</span>
    </a>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Cuotas Pagadas</th>
              <th>Cuotas Totales</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Cuotas Pagadas</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            
            {% for fee in fee_list %}
            <tr>
                <td>{{fee.id}}</td>
                <td>{{fee.client}}</td>
                <td>{{fee.amount_fees_paid}}</td>
                <td>{{fee.amount_fees}}</td>
                <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>



{% endblock content %}


{% block extra_script %}
<script type="text/javascript">
    $(document).ready( function () {
    $('#dataTable').DataTable();
} );
  </script>
{% endblock extra_script %}
