{% extends 'core/base.html' %}

{% block title1 %}
    Lista de Pagos
{% endblock title1 %}
{% block title2 %}
Lista de Pagos
{% endblock title2 %}
    
{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Cuotas Pagadas</th>
              <th>Cuotas Totales</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Cuotas Pagadas</th>
              <th>Cuotas Totales</th>
              </tr>
          </tfoot>
          <tbody>
            
            {% for fee in fee_list %}
            <tr>
                <td>{{fee.id}}</td>
                <td>{{fee.client}}</td>
                <td>{{fee.amount_fees_paid}}</td>
                <td>{{fee.amount_fees}}</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



{% endblock content %}


{% block extra_script %}
<script type="text/javascript">
    $(document).ready( function () {
    $('#dataTable').DataTable();
} );
  </script>
{% endblock extra_script %}
