{% extends 'core/base.html' %}

{% block title1 %}
    Nuevo Pago
{% endblock title1 %}
{% block title2 %}
    Pago
{% endblock title2 %}
    
{% block content %}

<div class="container">
    <div class="row">
        <form method="POST" >
            {% csrf_token %}
            
            {% if client_obj %}
            <div class="form-group">
                <label for="">Cliente:</label>
                <select name="client" class="selectpicker form-control" id="client" readonly>
                <option value="{{client_obj.id}}" selected>{{client_obj}}</option>
                </select>

                <div class="form-group">
                    <label for="">Concepto:</label>
                    <input type="text" name="concept" class="form-control" value="{{payment_obj.concept}}" id="concept" maxlength="20" readonly>
                </div>
                <div class="form-group">
                    <label for="">Monto:</label>
                    <input type="number" name="mount" class="form-control" value="{{payment_obj.mount}}" id="mount" readonly>
                </div>
                <div class="form-group">
                    <label for="">Fecha de Vencimiento:</label>
                    <input type="text" name="date_expiration" value="{{payment_obj.date_expiration}}" class="form-control" placeholder="" id="date_expiration" readonly aria-label="Default select example" maxlength="30">
                </div>
                <div class="form-group">
                    <label for="">Estado:</label>
                {% if payment_obj.status == 'CA' %}
                <input type="text" name="concept" class="form-control" value="{{payment_obj.get_status_display}}" id="concept" maxlength="20" readonly>
                </div>
                {% else %}
                {{form.status}}
                </div>
                <button type="submit" class="btn btn-primary">Modificar Pago</button>
                {% endif %}

            </div>
            {% else %} 
            <div class="form-group">
                <label for="">Cliente:</label>
                <select name="client" class="selectpicker form-control" id="client" required>
                <option value="" selected>---------</option>
                {% for client in client_list %}
                <option value="{{client.id}}">{{client}}</option>
                {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="">Concepto:</label>
                {{form.concept}}
            </div>
            <div class="form-group">
                <label for="">Monto:</label>
                {{form.mount}}
            </div>
            <div class="form-group">
                <label for="">Fecha de Vencimiento:</label>
                {{form.date_expiration}}
            </div>
            <div class="form-group">
                <label for="">Estado:</label>
                {{form.status}}
            </div>
            <button type="submit" class="btn btn-primary">Crear Pago</button>
            {% endif %}
          </form>
        
    </div>
</div>

{% endblock content %}
