{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                </div>
                <form class="user" id="form-login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
      
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" name="login"  id="id_login" aria-describedby="emailHelp" value="test@test.com" required placeholder="Enter Email Address...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" name="password" required id="id_password" value="niconico1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" name="remember" id="id_remember" >Recordar Sesión</label>
                    </div>
                  </div>
                  <a href="javascript:{}" onclick="document.getElementById('form-login').submit(); return false;" class="btn btn-primary btn-user btn-block">
                    Login
                  </a>
                  <hr>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

{% endblock content %}
