{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block body %}
<br><br><br>
{% endblock body %}	

{% block content %}

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="row">
                  <p>{% trans 'Are you sure you want to sign out?' %}</p>
                  </div>
                <form class="user" id="form-login" method="POST" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit" class="btn btn-primary" >{% trans 'Sign Out' %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
