{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="main-content">
  <!--== Start Page Title Area ==-->
  <!--== End Page Title Area ==-->

  <!--== Start Contact Area ==-->
  <div class="account-login-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="login-top">
            <nav class="login-form-nav">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link nav-register" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="lastudioicon-user-2"></i>Registarse</button>
              </div>
            </nav>
          </div>
          <div class="login-bottom">
            <div class="login-form-content tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="login-form">
                  <form class="login-form-wrapper" id="register-form" action="{% url 'account_signup' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-md-12">
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="email" class="form-label mt-15">Correo Electronico</label>
                              <input type="email" class="form-control" name="email" placeholder="Correo electrónico" required id="id_email">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group mb-0">
                              <label for="regpassword" class="form-label mt-15">Contraseña</label>
                              <input type="password" name="password1" class="form-control" placeholder="Contraseña" required id="id_password1">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group mb-0">
                              <label for="regpassword" class="form-label mt-15">Contraseña</label>
                              <input type="password" name="password2" class="form-control" placeholder="Contraseña (de nuevo)" required id="id_password2">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <p>Al registrarte estas aceptando los <a href="{% url 'page_detail' 0 %}">Terminos y Condiciones</a>.</p>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group mb-0 form-group-info">
                              <button class="btn btn-theme btn-black" type="submit">Registrar</button>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  

                </div>
                <!-- Message Notification -->
                <div class="form-message"><ul class="errorlist">
                  {% for key, value in form.errors.items %}
                      <li>{{ value }}</li>
                  {% endfor %}
                  </ul></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Contact Area ==-->
</main>

{% endblock %}
