{% extends 'core/base.html' %}

{% block title1 %}
    Lista de Pagos
{% endblock title1 %}
{% block title2 %}
Lista de Pagos
{% endblock title2 %}
    
{% block content %}
<div class="row">
  <!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th></th>
            </tr>
        </tfoot>
        <tbody>
          
          {% for client in client_list %}
          <tr>
              <td>{{client.id}}</td>
              <td>{{client.document}}</td>
              <td>{{client.first_name}}</td>
              <td>{{client.last_name}}</td>
              <td>{{client.city.nombre}}</td>
              <td><a href="{% url 'client_update' client.id %}" class="btn btn-primary btn-icon-split btn-sm">
                  <span class="icon text-white-50">
                      <i class="fas fa-edit"></i>
                  </span>
                  <span class="text">Modificar</span>
                </a></td>
            </tr>
          {% endfor %}
              
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>

{% endblock content %}


{% block extra_script %}
<script type="text/javascript">
    $(document).ready( function () {
    $('#dataTable').DataTable();
} );
  </script>
{% endblock extra_script %}
