{% extends 'core/base.html' %}

{% block title1 %}
    Clientes
{% endblock title1 %}
{% block title2 %}
Cliente
{% endblock title2 %}
    
{% block content %}

<div class="col-xl-6 col-md-12 col-mb-12">
    <div class="card shadow">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{% if not client_obj %}Nuevo Cliente{% else %}Modificar Cliente{% endif %}</h6>
          <div class="dropdown no-arrow">
    
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
        <form method="POST" >
            <input type="hidden" id="client_id" value="{% if client_obj %}{{client_obj.id}}{% else %}-1{% endif %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        {% if client_obj %}
                        <label for="">Tipo de Documento:</label>
                        <input type="text" name="type_document" value="{% if client_obj %}{{client_obj.type_document}}{% else %}{% endif %}" readonly class="form-control" id="type_document">
                        {% else %}
                        <label for="type_document" class="form-label mt-15">Tipo de Documento:</label>
                        <select class="form-control" name="type_document" id="type_document">
                            <option value="CI" selected>CI</option>
                            <option value="RU">RUC</option>
                            <option value="PA">PASAPORTE</option>
                            <option value="OT">OTROS</option>
                        </select>
                        {% endif %}
                    </div>
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="">Documento Nº:</label>
                        <input type="text" name="document" value="{% if client_obj %}{{client_obj.document}}{% else %}{% endif %}" placeholder="Ingrese el Documento" {% if client_obj %} readonly {% endif %} class="form-control" id="document">
                    </div>
                </div>
            </div>

            <div class="form-group" id="input_business_name">
                <label for="">Razón Social:</label>
                <input type="text" name="business_name" value="{% if client_obj %}{{client_obj.business_name}}{% else %}{% endif %}" placeholder="Ingrese la Razón Social" class="form-control" id="business_name">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="">Nombre:</label>
                        <input type="text" name="first_name" value="{% if client_obj %}{{client_obj.first_name}}{% else %}{% endif %}" placeholder="Ingrese el Nombre" class="form-control" id="first_name">
                    </div>
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="">Apellido:</label>
                        <input type="text" name="last_name" value="{% if client_obj %}{{client_obj.last_name}}{% else %}{% endif %}" placeholder="Ingrese el Apellido" class="form-control" id="last_name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="region" class="form-label mt-15">Departamento</label>
                        <select class="form-control" name="region" id="id_region">
                            <option value="" selected>-----------</option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="city" class="form-label mt-15">Ciudad</label>
                        <select class="form-control" name="city" id="id_city">
                            <option value="" selected>-----------</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-mb-12">
                <label for="">Correo Electronico:</label>
                <input type="email" name="email" value="{% if client_obj %}{{client_obj.email}}{% else %}{% endif %}" placeholder="Ingrese el Correo Electronico" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="">Número de Contacto:</label>
                        <input type="text" name="phone1" value="{% if client_obj %}{{client_obj.phone1}}{% else %}{% endif %}" placeholder="Ingrese la Número de Contacto" class="form-control" id="phone1">
                    </div>
                    <div class="col-xl-6 col-md-12 col-mb-12">
                        <label for="">Número de Contacto Auxiliar (Opcional):</label>
                        <input type="text" name="phone2" value="{% if client_obj %}{{client_obj.phone2}}{% else %}{% endif %}" placeholder="Ingrese la Número de Contacto" class="form-control" id="phone2">
                    </div>
                </div>
            </div>

            
        <div class="dropdown-divider"></div>
        
        <a href="#" onclick="sendForm();return false;" class="btn btn-success btn-icon-split">
            <span id="create_payment" class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            {% if not client_obj %}
            <span style="color:white" class="text">Crear Cliente</span>
            {% else %}
            <span style="color:white" class="text">Modificar Cliente</span>
            {% endif %}
        </a>

        </form>
    </div>
</div>
</div>

{% endblock content %}


{% block extra_script %}
<script type="text/javascript">
    var global_departamentos = null;
    var global_ciudades = null;

    
    $("#id_region").on('change', function(){
        setCiudades();
    });

    $("#type_document").on('change', function(){
        if($('#type_document').val()=='RU'){
            $("#input_business_name").show();
        }else{
            $("#input_business_name").hide();
        }
    });

$(document).ready(function(){
    var local_values = getValuesCheck();
    global_departamentos = JSON.parse(JSON.stringify(local_values.departamentos));
    global_ciudades = JSON.parse(JSON.stringify(local_values.ciudades));

    $("#input_business_name").hide()

    setDepartamentos()

    

});

function getValuesCheck() {
	return JSON.parse($.ajax({
        type: 'POST',
		    global: false,
		    async: false,
        url: "/profiles/ajax/address/",
        success:function(data){
			return data; 
        },
        error:function(){   
        }
        }).responseText);
}


function setDepartamentos() {
  var count = Object.keys(global_departamentos).length;

  for(let i = 0; i < count; i ++){
    var text = '<option value="'+global_departamentos[i].id+'">'+global_departamentos[i].nombre+'</option>'
    $('#id_region').append(text);
  }

  {% if client_obj.region %}
  var selId = document.getElementById("id_region")
  selId.value = {{client_obj.region.id}}
  {% endif %}

  {% if client_obj.city %}
  setCiudades()
  var selId2 = document.getElementById("id_city")
  selId2.value = {{client_obj.city.id}}
  {% endif %}
}

function setCiudades() {
  var select = document.getElementById('id_region');
  var count = Object.keys(global_ciudades).length;

  $('#id_city').empty().append('<option selected="selected" value="-1">Seleccionar un Departamento</option>');

  for(let i = 0; i < count; i ++){
    if(global_ciudades[i].cod_departamento == select.value){
      var text = '<option value="'+global_ciudades[i].id+'">'+global_ciudades[i].nombre+'</option>'
      $('#id_city').append(text);
    }
   
  }

}

</script>
<script type="text/javascript">
    $(document).keyup(function(event) {
    if (event.which === 13) {
        sendForm();
    }
    });

    function sendForm(form) {
        $('#create_payment').html('<i class="fas fa-spinner fa-spin"></i>')

        var send_obj = {
            client_id: $("#client_id").val(),
            document: $("#document").val(),
            type_document: $("#type_document").val(),
            phone1: $("#phone1").val(),
            phone2: $("#phone2").val(),
            email: $("#email").val(),
            last_name: $("#last_name").val(),
            first_name: $("#first_name").val(),
            business_name: $("#business_name").val(),
            id_region: $("#id_region").val(),
            id_city: $("#id_city").val()
            };

        $.ajax({
            type: 'POST',
            {% if not client_obj %}
            url: '{% url 'client_create' %}',
            {% else %}
            url: '{% url 'client_update' client_obj.id %}',
            {% endif %}
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(send_obj),
            headers: {'X-CSRFToken':getCookie('csrftoken')},
            success:function(data){
                if(data.cod == "000"){
                    console.log('agregado')
                    {% if not client_obj %}
                    alertSucces('Cliente Creado');
                    {% else %}
                    alertSucces('Cliente Modificado');
                    {% endif %}
                    $('#create_payment').html('<i class="fas fa-check"></i>')
                    window.location.href = "{% url 'client_list' %}" ;
                }
                else{
                    alertError('Crear Cliente', JSON.parse(JSON.stringify(data.message)));
                    $('#create_payment').html('<i class="fas fa-check"></i>')
                }
            },
              error:function(){     
                alertError('error', 'Error Inesperado del Servidor');
                $('#create_payment').html('<i class="fas fa-check"></i>')
              }
            });
            
            
        }
</script>
{% endblock extra_script %}
    